body {
    background-color: aliceblue;
}

.goal-text{
    width: 300px;
}

.info-bullets{
    border: solid;
    padding: 5px;
    border-radius:25px;
    background-color:#f5f5f5;
}

.bold{
    font-weight: bold;
}

table{
    border: 5px solid black;
    table-layout: fixed;
    width: 200px;
}

th, td {
    border: 1px solid black;
    overflow: hidden;
    width: 100px;
}
img {
    width: 100px;
    height: 100px;

}

#log_out{
    float:right;
}

h1{
    text-align: center;
}
  
.page-header{
    border-bottom-color: black;
}
.glyphicon {
    margin-right: 5px;
}


.tally{
    border-style: solid;
    border-color: black;
}

.dc_body{
    width: 60%;
    margin: 0 auto;
}

.dc_body .panel-body {
    padding: 20px;
}
.tf .btn-group {
    line-height: 70px;
}
td{
    18pt
}
.dc_body textarea {
    height: 45px;
    width: 400px;
}

.dc_body.narrative textarea {
    height: 75px;
    width: 540px
}

#stopwatch {
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
}

.right-button {
    float: right;
}

.center-button {
    text-align: center;
}

.login-body {
    height: 100px;
    width: 100px;
}