{% extends "bootstrap/base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Anonymous+Pro:700italic' rel='stylesheet' type='text/css'>
{% endblock %}

{% block js_btm %}
    <!--script src="/static/jquery-ui/jquery-ui.min.js"></script-->
    <script src="/static/js.js" lang="javascript" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block body %}
    <div class="page-margins">
    <div class="page-header">
        <div id="log_out"><a href="/logout">Log Out</a></div>
        <h1>
            <a href="/"><img src="/static/images/teachertatt.jpg" alt="teacher apple tattoo" class="img-circle"/></a>
            Goal Mine... <small> for teachers, by a teacher</small>
        </h1>
    </div>
    </div>
    {% block content %}{% endblock %}
{% endblock %}



