{% extends 'bootstrap/base.html' %}
{% block title %}Class Roster{% endblock %}
{% block body %}
    <h1> Welcome Teacher!</h1>


    <form class="form-signin" method="POST">

    <input type="text" name="first_name" class="form-control" placeholder="Student First Name" required autofocus />

    <input type="text" name="last_name" class="form-control" placeholder="Student Last Name" required />

    <button type="btn btn-lg btn-primary btn-block" type="submit">Enter Student</button>

    </form>

    <h2> Your Class</h2>

    <ul>
           {% for student in students %}
        <li>{{ student.first_name }} {{ student.last_name }}</li>
           {% else %}
        <li> You have no students entered into your class.</li>
           {% endfor %}
    </ul>




{% endblock %}
