{% extends 'base.html' %}
{% block title %}Class Roster{% endblock %}
{% block content %}


<h1> Welcome {{ teacher.first_name }} {{ teacher.last_name }}</h1>

    <h2> Please use the form below to add students to your class.</h2>
        <form class="form-signin" method="POST" action="class">
            <input type="text" name="first_name" class="form-control" placeholder="Student First Name" required autofocus />
            <input type="text" name="last_name" class="form-control" placeholder="Student Last Name" required />
            <input type="text" name="nickname"  class="form-control" placeholder="Optional: Nickname" />
            <button type="submit" class="add"><span class="glyphicon glyphicon-plus"><span> Add Student</button>
        </form>


     <h2> Your Class</h2>

        <table class="table table-bordered">
        <tr><th>First Name</th><th>Last Name</th><th>Nickname</th></tr>

        {% for student in students %}

         <tr>
             <td>{{student.first_name}}</td>

             <td>{{student.last_name}}</td>

             {% if student.nickname %}
                <td>{{student.nickname}}</td>
             {% else %}
                 <td>  </td>
             {% endif %}
         </tr>
        {% endfor %}
</table>


{% endblock %}
