{% extends 'bootstrap/base.html' %}
{% block title %}Goal Creation{% endblock %}
{% block body %}

<head> <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/style.css" /></head>

<h1>IEP Goal Generation</h1>

<body>

   <p>Please enter the Goal Nickname</p> <input type="text" name="Goal Nickname"

         <div id="subgoals">

   <p>Enter the items being tracked for this goal. Use the button to add more fields. <input type="text" name="Subgoal"

        </div>

</body>




{% end block %}