{% extends 'base.html' %}
{% block title %}Goal Creation{% endblock %}
{% block body %}

<h1>IEP Goal Generation for {{ student.first_name }}{{ student.last_name }}</h1>


       <form>
   <h2>Please enter the Goal Nickname</h2> <input type="text" name="Goal Nickname">



   <h2>What method of data collection would you like for this goal?</h2> <br>

   <input type="radio" name="goal_type" value="tally"> Tally <br>
   <input type="radio" name="goal_type" value="tf"> True/False <br>
   <input type="radio" name="goal_type" value="range"> Range 1-6 <br>
   <input type="radio" name="goal_type" value="narrative"> Narrative

    <p>
   </p>

         <div id="subgoals">

   <h2>Enter the items being tracked for this goal. Use the button to add more fields. <input type="text" name="Subgoal"></h2>
             <input type="submit" value="+">
             <input type="submit" value="-">


        </div>


       <input type="submit"  value="Preview Goal">
    </form>



{% endblock %}