<html>
{% extends 'bootstrap/base.html' %}
{% block title %}Class Roster{% endblock %}
{% block body %}
    <h1> Welcome Teacher!</h1>
<body>
<p>
    Welcome to IEPAT, or "Individualized Education Plan & Activity Tracker". <br>
    Created by a teacher, for teachers!<br>
    Allows for quick and easy data collection and progress reporting, <br>
    all in an easy to use interface.

</p>
</body>



<a href= "/signup"><button>Sign Up</button></a>



<a href= "/login"><button>Log In</button></a>

{% endblock %}


</html>