
{% extends 'base.html' %}
{% block title %}Goal Mine Home{% endblock %}
{% block content %}

     <h2> Welcome to Goal Mine, an easy-to-use data collection and reporting tool</h2>
     <br><p>Goal Mine was created by a special education teacher, for special educations teachers. It takes IEP goal tracking beyond binders and spreadsheets and puts it into a web application that you can use on your smart phone, tablet, or desktop computer.</p><br>

    <div class="panel panel-success">
        <div class="panel-heading"><h3>Goal Mine Features</h3></div>

        <ul>
            <li>Template wizard for data collection</li>
            <li>Customizable data collection methods for each item being tracked.</li>
            <li>Automatic date and time stamp for easy retrieval and report processing.</li>
            <li>Important event "markers" that allow you to document and view events such as medication changes along side goal progress.</li>
            <li>Report Summaries that give totals, averages, and percentages along with total records.</li>
        </ul>
    </div>
       <br>
        <h4>Already a member? Log in below! Or sign up to get started.</h4>
            <a href="/signup"><button type="button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-pencil"></span> Sign Up </button></a>
            <a href="/login"><button type="button" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-log-in"></span> Log In </button></a>




{% endblock %}


