
{% extends 'bootstrap/base.html' %}
{% block title %}Class Roster{% endblock %}
{% block body %}

<head> <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/style.css" /></head>

<body>
    <h1> Welcome Teacher!</h1>

        <p>
           <div class="text">
                 Welcome to IEPAT, or "Individualized Education Plan & Activity Tracker".
                 Created by a teacher, for teachers!
                 Allows for quick and easy data collection and progress reporting,
                 all in an easy to use interface.
           </div>

            <div class="form">
                 <a href= "/signup"><button>Sign Up</button></a>

                 <a href= "/login"><button>Log In</button></a>
            </div>
        </p>

</body

{% endblock %}


</html>