{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body %}

<head> <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/style.css" /></head>

<body>

  <h1> Please Log In to Create and/or View Your Class</h1>
    <form method="POST">

        <div class="form">
           <div>
                <label for="inputEmail1">Email</label>
                <input type="email" name="inputEmail1" placeholder="Email">
           </div>
           <div>
                <label for="inputPassword1">Password</label>
                <input type="password" name="inputPassword1" placeholder="Password">
           </div>
                <button type="submit">Sign in</button>
        </div>
    </form>

</body>
{% endblock %}