{% extends "base.html" %}
{% block title %}Log In{% endblock %}
{% block content %}


<h1>Please Log In </h1>
        <form method="POST">
            <label for="inputEmail1">Email</label>
             <input type="email" name="inputEmail1" placeholder="Email" autofocus>

             <label for "inputPassword1">Password</label>
             <input type="password" name="inputPassword1" placeholder="Password" autofocus>
             <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-log-in"></span> Log In</button>

        </form>



{% endblock %}