{% extends 'base.html' %}
{% block title %} Markers {% endblock%}

{% block content%}
<h1>&nbsp;</h1>

<div class="panel panel-success marker">
            <div class="panel-heading"><h1>Markers for {{ student.first_name }} {{ student.last_name }}</h1></div>
<div class="panel-body">
        <table class="table">
        <tr>
            <th>Date</th>
            <th>Marker</th>
        </tr>
    {% for marker in markers %}
        <tr>
            <td> {{ marker.marker_date }}</td>
            <td> {{ marker.marker_text }} <div class="btn-group" id="goal-options">
                <button type=<button class="delete-marker btn btn-danger"><span class="glyphicon glyphicon-remove"data-marker-id="{{ marker.id }}></span>Delete Marker</button>
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-wrench"></span>Edit Marker</button>
     </div></td>
        </tr>
     {% endfor %}
        </table>
 </div>
</div>

    <a href="/class"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-user"></span>Back to Student Page</a></button>

{% endblock %}