{% extends 'base.html' %}

{% block title %} Report Generation {% endblock %}


{#Stopwatch Macro#}

{% macro stopwatch_summary(summary)-%}
    <div class="panel panel-success">
        <div class="panel-heading"><h2>{{ summary["sub_goal_name"] }}</h2></div>
        <div class="panel-body">
            <h3 class="data_sum">Total instances of data collection: {{ summary["count"] }}</h3>

            <h3 class="data_sum">Average time (hour:min:sec): {{ summary["average"] }}</h3>


            <hr/>
            <h3 class="tot_rec">Total Record for this Date Range</h3>
            <br>
            <table class="table report">
                <tr>
                    <th>Date</th>
                    <th>Recorded Time</th>
                    <th>Notes</th>

                </tr>

                {% for item in summary["data_items"] %}
                    <tr>
                        <td>{{ item.date.strftime("%A, %B %d %Y %H:%M") }}</td>
                        <td>{{ item.sub_goal_data_value }}</td>
                        <td>{{ item.sub_goal_notes }}</td>
                    </tr>

                {% endfor %}
            </table>
        </div>
    </div>
{%- endmacro %}


{#Tally Macro#}

{% macro tally_summary(summary)-%}
    <div class="panel panel-success">
        <div class="panel-heading"><h2>{{ summary["sub_goal_name"] }}</h2></div>
        <div class="panel-body">
            <h3 class="data_sum">Total instances of data collection: {{ summary["count"] }}</h3>

            <h3 class="data_sum">Average tally number: {{ summary["average"] }}</h3>

            <table class="table report">
                <tr>
                    <th>Tally Number</th>
                    <th>Number of times recorded</th>
                    <th>Percentage</th>
                </tr>

                {% for key in summary["breakdown"].keys()|sort %}

                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ summary["breakdown"][key] }}</td>
                        <td>{{ "%.02f" %(summary["percentage"][key]) }}%</td>
                    </tr>

                {% endfor %}
            </table>


            <hr/>

            <h3 class="tot_rec">Total Record for this Date Range</h3>
            <br>
            <table class="table report">
                <tr>
                    <th>Date</th>
                    <th>Number Tallied</th>
                    <th>Notes</th>

                </tr>

                {% for item in summary["data_items"] %}
                    <tr>
                        <td>{{ item.date.strftime("%A, %B %d %Y %H:%M") }}</td>
                        <td>{{ item.sub_goal_data_value }}</td>
                        <td>{{ item.sub_goal_notes }}</td>
                    </tr>

                {% endfor %}
            </table>

        </div>
    </div>
{%- endmacro %}

{#Range Macro#}

{% macro range_summary(summary) -%}
    <div class="panel panel-success">
        <div class="panel-heading"><h2>{{ summary["sub_goal_name"] }}</h2></div>
        <div class="panel-body">
            <h3 class="data_sum">Total instances of data collection: {{ summary["count"] }}</h3>

            <h3 class="data_sum">Average Number Selected: {{ summary["average"] }}</h3>


            <table class="table report">
            <tr>
                <th>Number</th>
                <th>Times selected</th>
                <th>Percentage</th>
            </tr>

            {% for key in summary["breakdown"].keys() |sort %}

                <tr>
                    <td>{{ key }}</td>
                    <td>{{ summary["breakdown"][key] }}</td>
                    <td>{{ "%.02f" %(summary["percentage"][key]) }}%</td>
                </tr>

            {% endfor %}

            </table>


            <hr/>
            <h3 class="tot_rec">Total Record for this Date Range</h3>
            <br>
            <table class="table report">
                <tr>
                    <th>Date</th>
                    <th>Number Selected</th>
                    <th>Notes</th>

                </tr>

                {% for item in summary["data_items"] %}
                    <tr>
                        <td class="date">{{ item.date.strftime("%A, %B %d %Y %H:%M") }}</td>
                        <td>{{ item.sub_goal_data_value }}</td>
                        <td>{{ item.sub_goal_notes }}</td>
                    </tr>

                {% endfor %}
            </table>
        </div>
    </div>

{%- endmacro %}

{#Narrative Macro#}

{% macro narrative_summary(summary) -%}
    <div class="panel panel-success">
        <div class="panel-heading"><h2>{{ summary["sub_goal_name"] }}</h2></div>
        <div class="panel-body">

            <h3 class="data_sum">Total instances of data collection: {{ summary["count"] }} </h3>

            <table class="table report">
                <tr>
                    <th>Date</th>
                    <th>Narrative</th>
                </tr>

                {% for item in summary["data_items"] %}
                    <tr>
                        <td class="date">{{ item.date.strftime("%A, %B %d %Y %H:%M") }}</td>
                        <td>{{ item.sub_goal_data_value }}</td>
                    </tr>

                {% endfor %}
            </table>

        </div>
    </div>
{%- endmacro %}


{#TF Macro#}

{% macro tf_summary(summary) -%}
    <div class="panel panel-success">
        <div class="panel-heading"><h2>{{ summary["sub_goal_name"] }}</h2></div>
        <div class="panel-body">
            <h3 class="data_sum">Total instances of data collection: {{ summary["count"] }}</h3>


            <table class="table report">
            <tr>
                <th></th>
                <th>Yes</th>
                <th>No</th>
            </tr>

            <tr>
                <td>Total</td>
                <td>{{ summary["yes"] }}</td>
                <td>{{ summary["no"] }}</td>
            </tr>
            <tr>
                <td>Percentage</td>
                <td>{{ "%.02f" % summary["percentage"]["yes"] }}%</td>
                <td>{{ "%.02f" % summary["percentage"]["no"] }}%</td>
            </tr>
            </table>

            <hr/>

            <h3 class="tot_rec">Total Record for this Date Range</h3>
            <br>
            <table class="table report">
                <tr>
                    <th>Date</th>
                    <th>Ratio of Yes to No</th>
                    <th>Notes</th>

                </tr>

                {% for item in summary["data_items"] %}
                    <tr>
                        <td class="date">{{ item.date.strftime("%A, %B %d %Y %H:%M") }}</td>
                        <td>{{ item.sub_goal_data_value }}</td>
                        <td>{{ item.sub_goal_notes }}</td>
                    </tr>

                {% endfor %}
            </table>

        </div>
    </div>
{%- endmacro %}


{% block content %}

    <h1>{{ student.first_name }} {{ student.last_name }}</h1>
    <h1>Goal Summary Report for: "{{ goal.goal_name }}"</h1>

    <div class="panel panel-success">
        <div class="panel panel-heading"><h2> Markers for this date range:</h2></div>
        <div class="panel panel-body">
            {% if markers %}
                {% for marker in marker_data %}
                    <p>{{ marker.marker_date.strftime("%A, %B %d %Y") }}: {{ marker.marker_text }}</p>
                {% endfor %}
            {% else %}
                <p>There are no markers for this date range.</p>
            {% endif %}

        </div>
    </div>



    <div class="panel panel-success">
        <div class="panel-heading"><h2>Please enter the date range for this goal report</h2></div>
        <div class="panel-body">
            <form method="POST">
                <p>Start Date: <input type="date" name="start_date"></p>

                <p>End Date: <input type="date" name="end_date"></p>


                <button type="submit" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-eye-open"></span>
                    Generate Report Summary
                </button>
            </form>
        </div>
    </div>

    {% if summaries %}
        {% for summary in summaries %}
            {% if summary["type"] == "tally" %}
                {{ tally_summary(summary) }}

            {% elif summary["type"] == "range" %}
                {{ range_summary(summary) }}

            {% elif summary["type"] == "narrative" %}
                {{ narrative_summary(summary) }}

            {% elif summary["type"] == "tf" %}
                {{ tf_summary(summary) }}

            {% elif summary["type"] == "stopwatch" %}
                {{ stopwatch_summary(summary) }}

            {% endif %}
        {% endfor %}
    {% endif %}

    <a href="/class"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-user"></span>Back to Student Page</a></button>
{% endblock %}