{% extends 'base.html' %}

{% block title %} Report Generation {% endblock %}


{% macro stopwatch_summary(summary)-%}
    <div class="panel panel-success">
        <div class="panel-heading"><h2>{{ summary["sub_goal_name"] }}</h2></div>
        <div class="panel-body">
            <p><b>Total instances of data collection:</b>{{ summary["count"] }}</p>

            <p><b>Average time (hour:min:sec): </b>{{ summary["average"]}}</p>

        {% for key in summary["breakdown"].keys() %}

            <p><b>Breakdown of time (hour:min:sec): </b> Time: {{ key }}: {{ summary["breakdown"][key] }} time(s).</p>

        {% endfor %}

        <hr/>

            {% for item in summary["data_items"] %}
                <p> {{ item.date.strftime("%A, %B %d %Y %H:%M") }}  <b>Recorded time:</b> {{ item.sub_goal_data_value }} <b> Notes:</b> {{ item.sub_goal_notes }}</p>
            {% endfor %}

        </div>
    </div>
{%- endmacro %}



{% macro tally_summary(summary)-%}
    <div class="panel panel-success">
        <div class="panel-heading"><h2>{{ summary["sub_goal_name"] }}</h2></div>
        <div class="panel-body">
            <p><b>Total instances of data collection:</b>{{ summary["count"] }}</p>

            <p><b>Average tally number: </b>{{ summary["average"] }}</p>

        {% for key in summary["breakdown"].keys() %}

            <p><b>Breakdown of tally totals: </b> Number {{ key }}: {{ summary["breakdown"][key] }} time(s).</p>

        {% endfor %}

        {% for key in summary["percentage"].keys() %}

            <p><b>Percentage of tally totals: </b> {{ key }}: {{ "%.02f" %(summary["percentage"][key]) }}%</p>
        {% endfor %}

        <hr/>

            {% for item in summary["data_items"] %}
                <p>{{ item.date.strftime("%A, %B %d %Y %H:%M") }}  <b>Number tallied:</b> {{ item.sub_goal_data_value }} <b> Notes:</b> {{ item.sub_goal_notes }}</p>
            {% endfor %}

        </div>
    </div>
{%- endmacro %}

{% macro range_summary(summary) -%}
    <div class="panel panel-success">
        <div class="panel-heading"><h2>{{ summary["sub_goal_name"] }}</h2></div>
        <div class="panel-body">
            <p><b>Total instances of data collection: </b> {{ summary["count"] }}</p>

             {% for key in summary["breakdown"].keys() %}

            <p><b>Breakdown of range span: </b> Number {{ key }}: {{ summary["breakdown"][key] }} time(s).</p>

        {% endfor %}

             {% for key in summary["percentage"].keys() %}

            <p><b>Percentage of range span: </b> {{ key }}: {{ "%.02f" %(summary["percentage"][key]) }}%</p>

        {% endfor %}

        <hr/>
            {% for item in summary["data_items"] %}

                <p>{{ item.date.strftime("%A, %B %d %Y %H:%M") }}  <b>Number Selected:</b> {{ item.sub_goal_data_value }} <b> Notes:</b> {{ item.sub_goal_notes }}</p>

            {% endfor %}
        </div>
    </div>

{%- endmacro %}

{% macro narrative_summary(summary) -%}
    <div class="panel panel-success">
        <div class="panel-heading"><h2>{{ summary["sub_goal_name"] }}</h2></div>
        <div class="panel-body">

            <p><b>Total instances of data collection: </b> {{ summary["count"] }}</p>

            <ul>
                {% for item in summary["data_items"] %}

                <p>{{ item.date.strftime("%A, %B %d %Y %H:%M") }}  <b>Narrative: </b> {{ item.sub_goal_data_value }}</p>

                {% endfor %}
            </ul>

        </div>
    </div>
{%- endmacro %}

{% macro tf_summary(summary) -%}
    <div class="panel panel-success">
        <div class="panel-heading"><h2>{{ summary["sub_goal_name"] }}</h2></div>
        <div class="panel-body">
            <p><b>Total instances of data collection: </b> {{ summary["count"] }}</p>

            <p><b>Total Yes: </b> {{ summary["yes"] }}</p>
            <p><b>Total No: </b> {{ summary["no"] }}</p>

            <p><b>Percentage Yes: </b> {{ "%.02f" % summary["percentage"]["yes"]}}%</p>
            <p><b>Percentage No: </b> {{ "%.02f" % summary["percentage"]["no"]}}%</p>

       <hr/>

          {%for item in summary["data_items"] %}
                <p>{{ item.date.strftime("%A, %B %d %Y %H:%M") }}  <b>Ratio of yes to no: </b> {{ item.sub_goal_data_value }} <b> Notes:</b> {{ item.sub_goal_notes }}</p>
            {% endfor %}

        </div>
    </div>
{%- endmacro %}


{% block content %}

    <h1>{{ student.first_name }} {{ student.last_name }}</h1>
    <h1>Goal Summary Report for: "{{ goal.goal_name }}"</h1>

    <div class="panel panel-success">
        <div class="panel panel-heading"><h2> Markers for this date range:</h2></div>
        <div class="panel panel-body">
            {% if markers %}
                {% for marker in marker_data %}
                    <p>{{ marker.marker_date.strftime("%A, %B %d %Y") }}: {{ marker.marker_text }}</p>
                {% endfor %}
            {% else %}
                <p>There are no markers for this date range.</p>
            {% endif %}

        </div>
    </div>



    <div class="panel panel-success">
        <div class="panel-heading"><h2>Please enter the date range for this goal report</h2></div>
        <div class="panel-body">
            <form method="POST">
                <p>Start Date: <input type="date" name="start_date"></p>

                <p>End Date: <input type="date" name="end_date"></p>


                <button type="submit" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-eye-open"></span>
                    Generate Report Summary
                </button>
            </form>
        </div>
    </div>

    {% if summaries %}
        {% for summary in summaries %}
            {% if summary["type"] == "tally" %}
                {{ tally_summary(summary) }}

            {% elif summary["type"] == "range" %}
                {{ range_summary(summary) }}

            {% elif summary["type"] == "narrative" %}
                {{ narrative_summary(summary) }}

            {% elif summary["type"] == "tf" %}
                {{ tf_summary(summary) }}

            {% elif summary["type"] == "stopwatch" %}
                {{ stopwatch_summary(summary) }}

            {% endif %}
        {% endfor %}
    {% endif %}

    <a href="/student/{{ student.id }}">Back to student page</a>
{% endblock %}