{% extends 'base.html' %}

{% block title %} Report Generation {% endblock %}

{% macro tally_summary(summary)-%}
  <div class="panel panel-success">
    <div class = "panel-heading"><h3>{{ summary["sub_goal_name"] }}</h3></div>
      <div class = "panel-body">
    <h4>Total instances of data collection: {{ tally_summary["count"] }}</h4>
    <h4>Average tally number: {{ tally_summary["average"]}}</h4>
    <h4>Breakdown of tally totals: {{ tally_summary["breakdown"] }}</h4>
  </div>
      </div>
{%- endmacro %}

{% macro range_summary(summary) -%}
  <div class="panel panel-success">
       <div class = "panel-heading"><h3>{{ summary["sub_goal_name"] }}</h3></div>
       <div class = "panel-body">
    <h4>Total instances of data collection: {{ range_summary ["count"] }}</h4>
    <h4>Breakdown of range totals: {{ range_summary["breakdown"] }}</h4>
  </div>
        </div>

{%- endmacro %}

{% macro narrative_summary(summary) -%}
  <div class="panel panel-success">
    <div class = "panel-heading"><h3>{{ summary["sub_goal_name"] }}</h3></div>
        <div class = "panel-body">
    <h4>Total instances of data collection: {{ narrative_summary["count"] }}</h4>
    <h4>Narrative entries: {{ narrative_summary["data_items"] }}</h4>
  </div>
        </div>
{%- endmacro %}

{% macro tf_summary(summary) -%}
  <div class="panel panel-success">
    <div class = "panel-heading"><h3>{{ summary["sub_goal_name"] }}</h3></div>
        <div class = "panel-body">
    <h4>Total instances of data collection: {{ tf_summary["count"] }}</h4>
    <h4>Breakdown of Yes/No: {{ tf_summary["breakdown"] }}</h4>
  </div>
        </div>
{%- endmacro %}


{% block content %}

<h1>{{ student.first_name }} {{ student.last_name }}</h1>
<h1>Goal Summary Report for: "{{ goal.goal_name }}"</h1>


<div class = "panel panel-success">
    <div class = "panel-heading"><h2>Please enter the date range for this goal report</h2></div>
   <div class = "panel-body">
<form method="POST">
<p>Start Date: <input type="date" name="start_date"></p>
<p>End Date: <input type="date" name="end_date"></p>


<button type="submit" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-eye-open"></span> Generate Report Summary
        </button>
</form>
   </div>
</div>

    {% if summaries %}
        {% for summary in summaries %}
            {% if summary["type"] == "tally" %}
                {{ tally_summary(summary) }}

            {% elif summary["type"] == "range" %}
                 {{ range_summary(summary) }}

            {% elif summary["type"] == "narrative" %}
                {{ narrative_summary(summary) }}

            {% elif summary["type"] == "tf" %}
                {{ tf_summary(summary) }}

            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}