{% extends "bootstrap/base.html" %}
<title>Sign Up</title>
{% block body %}


<form class="form-signin" method="POST">
    <h2 class="form-signin-heading">Please Sign Up</h2>
  
    <input type="text" name="first_name" class="form-control" placeholder="First Name" required autofocus />
  
    <input type="text" name="last_name" class="form-control" placeholder="Last Name" required />

    <input type= "email" name= "email" class= "form-control" placeholder= "Email" required />
    
    <input type="password" name="password" class="form-control" placeholder="Password" required />
    
    <input type="password" name="re-enter password" class="form-control" placeholder="Please re-enter Password" required />
  
    <button type="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
</form>

{% endblock %}