{% extends 'base.html' %}
{% block title %}
    {% if student.nickname %}
        {{ student.first_name }} "{{ student.nickname }}" {{ student.last_name }}
    {% else %}
        {{ student.first_name }} {{ student.last_name }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if student.nickname %}
        <h1> {{ student.first_name }} "{{ student.nickname }}" {{ student.last_name }}</h1>
    {% else %}
        <h1> {{ student.first_name }} {{ student.last_name }}</h1>
    {% endif %}


    {% if goals %}
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3>IEP Goals
                <a href="/student/{{ student.id }}/goal/new" class="right-button">
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus"></span>
                        New Goal
                    </button>
                </a>
                </h3>
            </div>
            <table class="table table-bordered">
                <tr>
                    <th>Actions</th>
                    <th>Goals</th>
                </tr>



                {% for goal in goals %}
                    <tr>
                        <td>
                            <button type=<button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>
                                Delete Goal
                            </button>
                            <button type="button" class="btn btn-primary"><span
                                    class="glyphicon glyphicon-wrench"></span> Edit Goal
                            </button>
                            <a href = "/goal/report/{{ student.id }}/{{ goal.id }}">
                            <button type="button" class="btn btn-primary"><span
                                    class="glyphicon glyphicon-folder-close"></span> View Report
                            </button></a>
                        <td>{{ goal.goal_name }} <a href="/goal/view/{{ student.id }}/{{ goal.id }}">
                            <button type="button" class="btn btn-success right-button">
                                <span class="glyphicon glyphicon-folder-open"></span> Take Data
                            </button>
                        </a></td>
                    </tr>

                {% endfor %}
            </table>
        </div>

    {% else %}

        {% if student.nickname %}
            <h2>{{ student.first_name }} "{{ student.nickname }}" {{ student.last_name }} has no IEP goals at this
                time. <a href="/student/{{ student.id }}/goal/new"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"><span> New Goal</button></a></h2>
        {% else %}
            <h2>{{ student.first_name }} {{ student.last_name }} has no IEP goals at this time. <a href="/student/{{ student.id }}/goal/new"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"><span> New Goal</button></a></h2>
        {% endif %}


    {% endif %}

    {#    ADDING MARKER#}


    <div class="marker_body panel panel-success">
        <div class="panel-heading"><h3>Markers</h3></div>
        {% if student.nickname %}
            <h4>To enter a marker for {{ student.first_name }} "{{ student.nickname }}" {{ student.last_name }}, please
                select a date and enter your note in the field provided.</h4>
        {% else %}
            <h3>To enter a marker for {{ student.first_name }} {{ student.last_name }}, please select a date and enter
                your note in the field provided.</h3>
        {% endif %}
        <form id="add-marker" method="POST">

            <p>Date: <input type="date" name="calendar"></p>
            <textarea name="marker_text" rows="3" cols="50">Enter note here</textarea>
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Save</button>
            <a href="/markers/{{ student.id }}">
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span> View
                    Markers
                </button>
            </a>
        </form>
    </div>


    <a href="/class"> Back to Class </a>

{% endblock %}