{% extends 'base.html' %}
    {% if student.nickname %}
        {% block title %} {{ student.first_name }} "{{ studnet.nickname }}" {{ student.last_name }}{% endblock %}
    {% else %}
        {% block title %} {{ student.first_name }} {{ student.last_name }}{% endblock %}
    {% endif %}

{% block content%}
     {% if student.nickname %}
        <h1>IEP Goals for {{ student.first_name }} "{{ studnet.nickname }}" {{ student.last_name }}</h1>
     {% else %}
        <h1>IEP Goals for {{ student.first_name }} {{ student.last_name }}</h1>
     {% endif %}

        <ul>
          {% if goals %}
                {% for goal in goals %}
                    <li>{{goal.name}}</li>
                {% endfor %}
          {% else %}
               {% if student.nickname %}
                   <h2>{{ student.first_name }} "{{ studnet.nickname }}" {{ student.last_name }} has no IEP goals at this time.</h2>
               {% else %}
                    <h2>{{ student.first_name }} {{ student.last_name }} has no IEP goals at this time.</h2>
               {% endif %}

          {% endif %}
       </ul>

    <form action="/goals/{{ student.id }}" method="POST">
     <button type="submit" class="add"><span class="glyphicon glyphicon-plus"><span> New Goal</button>
    </form>

              {% if student.nickname %}
    <h3>To enter a marker for {{ student.first_name }} "{{ studnet.nickname }}" {{ student.last_name }}, please select a date and enter your note in the field provided.</h3>
              {% else %}
    <h3>To enter a marker for {{ student.first_name }} {{ student.last_name }}, please select a date and enter your note in the field provided.</h3>
              {% endif %}
        <form id="add-marker" method="POST">

            <textarea name="marker_text" rows="3" cols="50">Enter note here></textarea>
            <button type="submit" class="save"><span class="glyphicon glyphicon-save"><span> Save </button>
        </form>

    <a href="/markers/{{ student.id }}"><button type="button" class="add"><span class="glyphicon glyphicon-eye-open"></span> View Markers</button></a>



{% endblock %}