{% extends 'base.html' %}

{% block title %} Data Collection {% endblock %}

{# Tally Macro #}
{% macro tally(sub_goal_id, sub_goal_name) -%} {# creating a function to render the tally data collection form #}

    <div class="dc_body panel panel-success tally">
        <div class="panel-heading"><h4>{{ sub_goal_name }}</h4></div>
        <div class="panel-body">
            <button type="button" name="tally_btn_{{ sub_goal_id }}" class="btn btn-success"><span
                    class="glyphicon glyphicon-plus-sign"></span>Tally
            </button>
            <input type="text" name="tally_{{ sub_goal_id }}" value="0"/>
            {# the field that the number will appear in, which can be edited #}
            <textarea name="notes_{{ sub_goal_id }}" rows="3" cols="50" placeholder="Optional"></textarea><br>
        </div>
    </div>
{%- endmacro %}

{# TF Macro #}
{% macro tf(sub_goal_id, sub_goal_name)-%}

    <div class="dc_body panel panel-success tf">
        <div class="panel-heading"><h4>{{ sub_goal_name }}</h4></div>
        <div class="panel-body">
            <span class="input-group input-group-lg">
                <a data-target='#' class="input-group-addon yes-button btn btn-default">Yes</a>
                <input type="text" class="form-control" name="yes_{{ sub_goal_id }}" value="0" required/>
            </span>
            <span class="input-group input-group-lg">
                <a data-target='#' class="input-group-addon no-button btn btn-default" >No</a>
                <input type="text" class="form-control" name="no_{{ sub_goal_id }}" value="0" required/>
            </span>
            <textarea name="notes_{{ sub_goal_id }}" rows="3" cols="50" placeholder="Optional"></textarea><br>
        </div>
    </div>
{%- endmacro %}


{# Narrative Macro #}
{% macro narrative(sub_goal_id, sub_goal_name) -%}
    <div class="dc_body panel panel-success narrative">
        <div class="panel-heading"><h4>{{ sub_goal_name }}</h4></div>
        <div class="panel-body">

            <textarea name="narrative_text_{{ sub_goal_id }}" rows="3" cols="50" required></textarea><br>

        </div>
    </div>

{%-endmacro %}

{# Stopwatch Macro #}
{% macro stopwatch() -%}
<div class="dc_body panel panel-success stopwatch">
        <div class="panel-heading"><h4>Timer</h4></div>
        <div class="panel-body">
    <div id="stopwatch">00:00</div>
    <input type="hidden" name="stopwatch" value="0"/>
    <button id="startstop" class="btn btn-info btn-lg btn-block" type="button" >Start</button><br>
</div>
</div>
    </div>
{%- endmacro %}


{# Range Macro #}
{% macro range(sub_goal_id, sub_goal_name) %}
    <div class="dc_body panel panel-success range">
        <div class="panel-heading"><h4>{{ sub_goal_name }}</h4></div>
        <div class="panel-body">
            <div class="btn-group btn-group-lg" data-toggle="buttons">

    <label class="btn btn-lg btn-default range_radio">
        <input type="radio" name="range_{{ sub_goal_id }}" value="1" required/> 1</label>

    <label class="btn btn-lg btn-default range_radio">
        <input type="radio" name="range_{{ sub_goal_id }}" value="2" required/> 2</label>

    <label class="btn btn-lg btn-default range_radio">
        <input type="radio" name="range_{{ sub_goal_id }}" value="3" required/> 3</label>

    <label class="btn btn-lg btn-default range_radio">
        <input type="radio" name="range_{{ sub_goal_id }}" value="4" required/> 4</label>

    <label class="btn btn-lg btn-default range_radio">
        <input type="radio" name="range_{{ sub_goal_id }}" value="5" required/> 5</label>

    <label class="btn btn-lg btn-default range_radio">
        <input type="radio" name="range_{{ sub_goal_id }}" value="6" required/> 6</label>

        <textarea name="notes_{{ sub_goal_id }}" rows="3" cols="50" placeholder="Optional"></textarea>
    </div>
     </div>
     </div>
{%-endmacro %}



{% block content %}

    <h1>Data Collection for "{{ goal.goal_name }}"</h1>

    <form action="/student/{{ student.id }}/goal/{{ goal.id }}/record" method="POST">
        {% for sub_goal in goal.sub_goals %}

            {% if sub_goal.sub_goal_type == 'tally' %}
                {{ tally(sub_goal.id, sub_goal.sub_goal_name) }}

            {% elif sub_goal.sub_goal_type == 'narrative' %}
                {{ narrative(sub_goal.id, sub_goal.sub_goal_name) }}

            {% elif sub_goal.sub_goal_type == 't/f' %}
                {{ tf(sub_goal.id,sub_goal.sub_goal_name) }}

            {% elif sub_goal.sub_goal_type == 'range' %}
                {{ range(sub_goal.id, sub_goal.sub_goal_name) }}

            {% else %}
                <div>UNKNOWN SUBGOAL TYPE!</div>

            {% endif %}
        {% endfor %}

        {% if goal.is_timed %}
            {{ stopwatch() }}
        {% endif %}

    <button type="submit" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-file-open"></span> Submit Data
        </button>

   </form>

{% endblock %}